- if @details.nil?
  %h3 Sorry, no information found
- else
  - if @notice
    = link_to(@notice.link, target: "_blank") do
      #notice
        .title Travel Warning  
        .title.subtitle= "(issued - #{format_date(@notice.published_date)} PST)"
  #general
    #currency
      = currency_format(@visit)
    - @details.each do |key, value|
      .key= format_title(key)
      .value= format_detail(value)
        
  .dropdown#requirements
    .title Entry & Exit Requirements
  #req_info.toggle
    .value
      - @requirements.split("\n").each do |paragraph|
        %div= paragraph unless paragraph.blank?
  - if @consulate
    .dropdown#embassy
      .title Embassy Information
    #embassy_info.toggle
      - @consulate.each do |key, value|
        .key= key.capitalize
        .value= value.present? ? value : 'No information'
.disclaimer= disclaimer

:javascript
  $("#embassy").on('click', function(){
    $("#embassy_info").slideToggle(function(){
      if ($("#req_info").is(":visible")) {
        $("#req_info").slideToggle("slow");
        $("#left").animate({scrollTop: ($("#embassy").offset().top + 400)}, 'slow');
      } else {
        $("#left").animate({scrollTop: ($("#embassy").offset().top + 400)}, 'slow');
      }
    }); 
  })

  var isMobile = navigator.userAgent.match(/(iPhone|iPod|iPad|Android|BlackBerry)/);
  
  $("#requirements").on('click', function(){
    $("#req_info").slideToggle(function(){
      if (isMobile) {
        $("#left").animate({scrollTop: ($("#requirements").offset().top + 300)}, 'slow');    
      } else {
        return true;
      }
    });
  })
  
  