#map-canvas{data: {latitude: @visit.convert_latitude, longitude: @visit.convert_longitude}}

:javascript
  var lat = $("#map-canvas").data().latitude
  var long = $("#map-canvas").data().longitude
  var myLatlng = new google.maps.LatLng(lat, long);
  var mapOptions = {
    zoom: 6,
    center: myLatlng
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);  

  var marker = new google.maps.Marker({
    position: myLatlng,
    animation: google.maps.Animation.DROP,
    map: map
  });