#currency-disclaimer
  %h3 Currency Conversion Disclaimer

  trippli cannot guarantee the accuracy of the exchange rates as they are sourced via Google <a id='google-cdisclaimer' href='https://www.google.com/intl/en/help/currency_disclaimer.html'>(Google's currency converter disclaimer)</a>. You should confirm current rates before making any transactions that could be affected by changes in the exchange rates. Rates are for information purposes only and are subject to change without notice. Rates for actual transactions may vary.

  %br
  %br
  Exchange rates are provided for informational purposes only, and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, NO guarantees are given whatsoever of accuracy, validity, availability, or fitness for any purpose - please use at your own risk. All usage is subject to your acceptance of the Terms and Conditions of Service, available at: https://openexchangerates.org/terms/",

  %br
  %br
  Data sourced from various providers with public-facing APIs; copyright may apply; resale is prohibited; no warranties given of any kind. Bitcoin data provided by http://coindesk.com. All usage is subject to your acceptance of the License Agreement available at: https://openexchangerates.org/license/