#left
  #content
    = form_tag('/', method: "get", remote: true) do
      %p#from as a United States citizen travelling to
      .dropdown= select_tag("visit", options_for_select(@visits), prompt: "Choose your destination", class: "dropdown-select")
    #details

#right
  .disclaimer= disclaimer
  #map
    - cache "info", expires_in: 1.day do
      #info-box
        #toptext Travel. Explore. Informed.
        %br
        #info-text
          #subtext 
            Plan your trips, business or pleasure, informed with access to embassy contacts, entry and exit requirements, currency restrictions and much more all at your fingertips.
            %br
            %br
          #coming-soon 
            That's just the beginning, there's lots more coming to 
            %span#highlight trippli.
            %br
            %br
          #highlight Stay tuned.