!!! XML
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9"}
  - for visit in @visits
    %url
      %loc #{URI.decode(root_url(anchor: visit.name))}/
      %lastmod=visit.updated_at.strftime('%Y-%m-%d')
      %changefreq weekly
      %priority 0.9