%h2 Index
= link_to "New State", new_state_path

%table
  %thead
    %tr
      %th Name
      %th Description
  %tbody
    - @states.each do |state|
      %tr
        %td= state.name
        %td= state.description
