= simple_form_for @state, :url => states_path do |f|
  = f.input :name, :as => :select, :collection => State::STATES, :select => @state.name, :include_blank => false
  = f.input :description
  = f.submit