/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

 @font-face {
  font-family: 'Roboto';
  src: font-url('Roboto-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
 }

 body {  
  font-family: 'Roboto';
  margin: 0;
  background-color: rgba(0, 166, 147, 0.4);
 }

 header {
  height: 80px;
  font-size: 40px;
  background-color: #FFF;

  div {
    margin: 0 10px;
    span {font-size: 24px;}

    #title {margin-right: 0;display: inline-block;padding-top: 12px;}

    #logo {
      float: left !important;
      width: 75px;
      padding-top: 5px;
      padding-left: 5px;
    }

    img {
      width: 50px;
      float: right;
      padding-top: 15px;
      padding-left: 10px;
      padding-right: 0px;
    }
  }
 }

main {margin: 10px;}
select {font-family: inherit;}
a {color: #000000;text-decoration: none;}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  header {
    text-align: left;
    font-size: 26px;
    height: 50px;
    div {
      margin-left: 0px;
      margin-right: 10px;
      span {font-size: 18px;}
      img {padding-top: 0px;padding-left: 5px;}
      #title {margin-right: 0;display: inline-block;padding-top: 7px;}
      #logo { width: 40px;padding-right:5px;}
    }
  }
}

.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 50px;
  width: 100%;
  background: #F5F5F5;
  border-radius: 0;
  margin-bottom: 15px;
}
.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888 transparent;
  pointer-events: none;
}
.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}
.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 50px;
  font-size: inherit;
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}
.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 .dropdown {
  z-index: 1;
}
.lt-ie9 .dropdown-select {
  z-index: -1;
}
.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
    padding-top: 12px;
  }
}