/*LAYOUT*/
#left {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  width: 25%;
  display: inline-block;
  -webkit-overflow-scrolling: touch;

  #content {
    padding-bottom: 100px;
    margin-right: 10px;
  }

  .disclaimer {
    display:none;
  }

  #from {
    margin-top: 13px;
  }
}

#right {
  margin: 0;
  padding: 0; 
  margin-left: 29%;

  #info-box {
    font-size: 30px;

    #toptext {
      text-align: center;
      font-size: 55px;
      padding-top: 30px;
    }

    #info-text {
      width: 500px;
      margin-left: auto;
      margin-right: auto;

      #subtext {
        text-align: center;
        line-height: 40px;
      }

      #coming-soon {
        span {font-size: 40px;}
      } 

      #highlight {color: #fff;} 
    }
  }

  #map-canvas {
    width: 68%;
    height: 88%;
    position: fixed !important;
  }  
}

.disclaimer {
  text-align: center;
  font-size: 10px;
}

/*SHOW*/
#origin {
  color: #000000;
  cursor: none;
}

/*DETAILS*/
#notice {
  height: 50px;
  background-color: #FF6961 !important;
  margin-bottom: 10px;
}

.subtitle {
  font-style: italic;
  font-size: 12px;
  padding-left: 5px !important;
  margin-top: 2px;
}

#general .value {padding-bottom: 8px;}

.title {
  padding-left: 10px;
  padding-top: 15px;
  display: inline;
  float: left;
}

#currency {
  .key {
    display: inline;
    float:left;
    padding-right: 5px;
  }

  .subtitle{padding-top: 1px;}
  .value a {
    font-size: 12px;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.toggle {display: none;}
.key {font-weight: 500;font-size:14px;}
.value {
  letter-spacing: .5px;
  color: #414141;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;

  div {margin-bottom: 15px;}
} 

@media only screen and (max-width: 830px) {
  #left {
    width: 98%;
    .disclaimer {display: block;}
  }
  #right {display: none;}
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  #left {
    width: 300px;
    margin:10px;
    #content {margin-right: 20px;}
    #currency .subtitle{padding-top: 2px;}
  }
  #right {display: none;}
}



#currency-disclaimer {
  line-height: 25px;
  #google-cdisclaimer {
    text-decoration: underline;
  }  
}
