<!DOCTYPE html>
<html>
  <head>
    <title>trippli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name"keywords" content="trip, travel, visa, international, tourist, passport, exchange rates"></meta>
    <meta name="description" content="Instantly get travel information on tourist requirements, embassy contacts, exchange rates, entry &amp; exit requirements, travel warnings, and much more for where you want to go."></meta>
    <meta property="og:image" content="http://res.cloudinary.com/hp13a4n6d/image/upload/v1395290198/logo_200x200.png">
    <meta property="og:site_name" content="trippli">
    <meta property="og:url" content="http://www.trippli.com/">
    <meta property="og:title" content="trippli">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="Instantly get travel information on tourist requirements, embassy contacts, entry &amp; exit requirements, travel warnings, and much more for where you want to go.">
    <% cache("application_css", :expires_in => 10.minutes) do %>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <% end %>
    <link rel="icon" type="image/png" href="../assets/logo.png"/>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-48706444-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    
    <% cache("header", :expires_in => 1.day) do %>
      <header>
        <div>
          <a href="/">
            <%= cl_image_tag 'logo.png', id: 'logo' %>
          </a>
          <div id="title"> trippli <span>(beta)</span></div>
          
          <a name="facebook" class="social-pop" title="Keep up to date with trippli on Facebook" href="http://www.facebook.com/trippli" target="_blank">
             <%= cl_image_tag "facebook.png", id: 'facebook', width: 40 %>
          </a>
          <a name="twitter" href="https://twitter.com/trippliTravel" class="social-pop" target="_blank" title="Keep up to date with trippli on Twitter"><%= cl_image_tag "twitter.png", id: 'twitter', width: 40 %></a>
        </div>
      </header>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <% cache("application_js", :expires_in => 10.minutes) do %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <% unless !!is_mobile? %>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
      <% end %>
    <% end %>
  </body>
</html>